:root {
    --gridLength: 16;
    --randomColor: rgb(0, 0, 0);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headerButtonPanel {
    display: flex;
    height: 75px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#colorList {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-between;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 32px;
    border: 16px solid darkgrey;
}

.gridItem {
    flex: 0 0 calc(100% / var(--gridLength));
    aspect-ratio: 1;
    background-color: white;
}

.gridItem.drawOnGrid {
    background-color: var(--randomColor);
}